.result {
  padding-top: 140px;
  padding-bottom: 31px;
  text-align: center;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    .result-image {
      position: absolute;
      top: 225px;
      z-index: -1;
    }

    .result-title {
      max-width: 588px;
      margin-bottom: 60px;
    }

    .result-score {
      background-image: url("../../../../assets/images/result-image.png");
      background-size: cover;
      background-position: center;
      width: 480px;
      height: 388px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Museo Sans Cyrl Bold", sans-serif;
      font-size: 158px;
      line-height: 190px;
      color: #fff;
    }

    .see-result {
      margin-top: 80px;
      align-self: end;
    }
  }
}
