<section class="form" [formGroup]="loginForm">
  <div class="container">
    <div class="form-content">
      <h1 class="form-title common-title"><span>Вход</span> в систему</h1>
      <div class="form-details">
        <div class="form-group" [ngStyle]="{'border-color': loginForm.get('email')?.invalid
        && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched) ? 'red' : ''}">
          <input type="text" class="form-input" id="email" required formControlName="email">
          <label for="email" class="form-label">Электронная почта</label>
        </div>
        <div class="form-group" [ngStyle]="{'border-color': loginForm.get('password')?.invalid
        && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) ? 'red' : ''}">
          <input type="password" class="form-input" id="password" required formControlName="password">
          <label for="password" class="form-label">Пароль</label>
        </div>
      </div>
      <div class="form-button">
        <button class="button" [disabled]="loginForm.invalid" id="process">Перейти к выбору теста</button>
      </div>
      <div class="form-link">Нет аккаунта? <a routerLink="/signup">Зарегистрироваться</a></div>
    </div>
    <div class="form-image">
      <img src="assets/images/info-image.png" alt="Персонаж">
    </div>
  </div>
</section>
