@font-face {
  src: url("../fonts/ofont.ru_Museo Sans Cyrl 500.ttf");
  font-family: "Museo Sans Cyrl";
}

@font-face {
  src: url("../fonts/ofont.ru_Museo Sans Cyrl 700 (1).ttf");
  font-family: "Museo Sans Cyrl Bold";
}
